@use '@angular/material' as mat;

:root {
  // --mat-select-enabled-trigger-text-color: var(--rs-color-white);
  --mdc-filled-text-field-label-text-color: var(--rs-color-text-2);
  --mdc-text-button-disabled-label-text-color: var(--rs-color-text-1);
  --mat-select-enabled-arrow-color: var(--rs-color-orange);
  --mat-select-disabled-arrow-color: var(--rs-color-text-2);
  // --mdc-filled-text-field-hover-label-text-color: var(--fb-color-black);
  // --mdc-filled-text-field-focus-label-text-color: var(--fb-color-black);
  --mat-standard-button-toggle-shape: var(--rs-size-border-radius);
  --mdc-outlined-button-container-shape: var(--rs-size-border-radius);
  --mat-outlined-button-pressed-state-layer-opacity: 0;
  --mat-outlined-button-hover-state-layer-opacity: 0;
  --mat-outlined-button-focus-state-layer-opacity: 0;
  --mdc-filled-text-field-container-color: transparent;
  --mat-datepicker-calendar-container-shape: var(--rs-size-border-radius);
  --mdc-text-button-container-shape: var(--rs-size-border-radius);
  --mat-datepicker-calendar-container-elevation-shadow: var(
    --rs-size-box-shadow
  );
  --mat-select-container-elevation-shadow: var(--rs-size-box-shadow);
  --mat-text-button-horizontal-padding: 14px;
  --mat-text-button-with-icon-horizontal-padding: 14px;

  --mat-menu-container-shape: var(--rs-size-border-radius);
  --mdc-text-button-label-text-color: var(--rs-button-text-color);
  --mdc-icon-button-icon-color: var(--rs-button-text-color);
  --mdc-outlined-button-label-text-color: var(--rs-button-text-color);
  --mat-standard-button-toggle-state-layer-color: var(--rs-color-orange);

  @include mat.button-overrides(
    (
      filled-container-shape: var(--rs-size-border-radius),
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: var(--rs-color-white),
    )
  );

  @include mat.menu-overrides(
    (
      container-color: var(--rs-color-white),
      item-leading-spacing: 16px,
      item-trailing-spacing: 16px,
      item-label-text-weight: 400,
    )
  );

  @include mat.button-toggle-overrides(
    (
      state-layer-color: red,
      legacy-state-layer-color: green,
    )
  );
}

button.mat-mdc-button-base,
mat-button-toggle {
  .mat-ripple-element {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
}

button {
  &.mdc-button {
    --mat-filled-button-horizontal-padding: 1rem;
    --mat-filled-button-icon-offset: 0;
    --mat-outlined-button-horizontal-padding: 1rem;
    --mat-outlined-button-icon-offset: 0;
  }

  &.mat-mdc-icon-button {
    border-radius: var(--rs-size-border-radius);
  }
}

.mat-datepicker-content {
  border: 1px solid var(--mat-standard-button-toggle-divider-color);
  --mat-datepicker-calendar-container-background-color: var(--rs-color-white);
  --mat-datepicker-calendar-date-text-color: var(--rs-color-text-1);
  --mat-datepicker-calendar-date-disabled-state-text-color: var(
    --rs-color-text-2
  );
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  border-radius: var(--rs-size-border-radius);
  border: 1px solid var(--mat-standard-button-toggle-divider-color);
}

.mat-mdc-optgroup-label {
  @apply text-rs-font-size-small text-rs-color-text-2;
}

mat-optgroup.mat-mdc-optgroup .mat-mdc-option:not(.mat-mdc-option-multiple) {
  padding-left: 0;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  // --mat-tab-header-inactive-ripple-color: var(--rs-color-orange);
  // --mat-tab-header-active-ripple-color: var(--rs-color-orange);

  --mat-tab-header-divider-height: 0;
  --mat-tab-header-active-label-text-color: var(--rs-color-orange);
  --mat-tab-header-inactive-label-text-color: var(--rs-color-text-2);
  --mat-tab-header-inactive-hover-label-text-color: var(--rs-color-text-3);
  --mat-tab-header-inactive-focus-label-text-color: var(--rs-color-text-3);
  --mat-tab-header-active-focus-label-text-color: var(--rs-color-orange);
  --mat-tab-header-active-hover-label-text-color: var(--rs-color-text-3);
  --mat-tab-header-active-focus-indicator-color: var(--rs-color-orange);
  --mat-tab-header-active-hover-indicator-color: var(--rs-color-text-3);
  --mdc-tab-indicator-active-indicator-color: var(--rs-color-orange);

  .mat-mdc-tab-header {
    --mat-tab-header-label-text-size: var(--rs-font-size-body-2);
  }

  .mat-mdc-tab {
    @apply min-w-[50px] px-1;
  }
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: var(--rs-size-box-shadow);
  border-radius: var(--rs-size-border-radius);
  border: 1px solid var(--mat-standard-button-toggle-divider-color);
}
