// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$reelscore-primary: mat.m2-define-palette(mat.$m2-grey-palette, 800, 300, 900);
$reelscore-accent: mat.m2-define-palette(mat.$m2-green-palette, 800, 300, 900);

// The warn palette is optional (defaults to red).
$reelscore-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-typography: mat.m2-define-typography-config();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$reelscore-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $reelscore-primary,
      accent: $reelscore-accent,
      warn: $reelscore-warn,
    ),
    typography: $my-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($reelscore-theme);

:root {
  --mat-select-enabled-trigger-text-color: var(--fb-color-white);
  --mdc-filled-text-field-label-text-color: var(--fb-color-text-2);
  --mdc-text-button-disabled-label-text-color: var(--fb-color-text-2);
  --mat-select-enabled-arrow-color: var(--fb-color-text-2);
  --mat-select-disabled-arrow-color: var(--fb-color-text-1);
  --mdc-filled-text-field-hover-label-text-color: var(--fb-color-white);
  --mdc-filled-text-field-focus-label-text-color: var(--fb-color-white);
  --mat-standard-button-toggle-shape: var(--fb-size-border-radius);
  --mdc-outlined-button-container-shape: var(--fb-size-border-radius);
  --mat-outlined-button-pressed-state-layer-opacity: 0;
  --mat-outlined-button-hover-state-layer-opacity: 0;
  --mat-outlined-button-focus-state-layer-opacity: 0;
  --mdc-filled-text-field-container-color: transparent;
  --mat-datepicker-calendar-container-shape: var(--fb-size-border-radius);
  --mdc-text-button-container-shape: var(--fb-size-border-radius);
  --mat-datepicker-calendar-container-elevation-shadow: none;
  --mat-select-container-elevation-shadow: none;
  --mat-text-button-horizontal-padding: 14px;
  --mat-text-button-with-icon-horizontal-padding: 14px;
}

button.mdc-button {
  @apply bg-white;
}

.mat-datepicker-content {
  border: 1px solid var(--mat-standard-button-toggle-divider-color);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background-color: #000;
  opacity: 0.1;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  border-radius: var(--fb-size-border-radius);
  border: 1px solid var(--mat-standard-button-toggle-divider-color);
}

.mat-mdc-optgroup-label {
  @apply text-fb-font-size-small text-fb-color-text-2;
}

.mat-mdc-optgroup .mat-mdc-option:not(.mat-mdc-option-multiple) {
  padding-left: 0;
}
