:root {
  /* Colors */
  --fb-color-black-1: #000;
  --fb-color-black-2: #111;
  --fb-color-white: #eee;
  --fb-color-green-1: #2e7d32;
  --fb-color-green-2: #2c7051;
  --fb-color-green-1-light: #2e7d321a;
  --fb-color-text-1: #353841;
  --fb-color-text-2: #55565b;

  /* Font-sizes */
  --fb-font-size-title: 28px;
  --fb-font-size-subtitle-1: 24px;
  --fb-font-size-subtitle-2: 20px;
  --fb-font-size-body-1: 15px;
  --fb-font-size-body-2: 13px;
  --fb-font-size-small: 11px;

  --fb-padding-1: 10px;
  --fb-padding-2: 16px;
  --fb-padding-3: 20px;

  /* Sizes */
  --fb-size-button-border-width: 2px;
  --fb-size-button-shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  --fb-size-league-select-height: 32px;
}
