:root {
  /* Colors */
  --rs-color-white: #fff;
  --rs-color-white-2: #f3f3f3;
  --rs-color-orange: #f48c22;
  --rs-color-green-1: #2e9133;
  --rs-color-text-1: #1d1d1f;
  --rs-color-text-2: #999999;
  --rs-color-text-3: #fff;

  --rs-color-primary: var(--rs-color-orange);
  --rs-color-secondary: #1c1c1c;

  --rs-button-text-color: var(--rs-color-text-3);
  --rs-button-bg-color: var(--rs-color-orange);
  --rs-border-color-1: #e5e7eb;
  --rs-border-color-2: var(--rs-color-text-2);

  /* Font-sizes */
  --rs-font-size-title: 24px;
  --rs-font-size-subtitle-1: 18px;
  --rs-font-size-subtitle-2: 16px;
  --rs-font-size-body-1: 15px;
  --rs-font-size-body-2: 13px;
  --rs-font-size-small: 10px;

  --rs-padding-1: 10px;
  --rs-padding-2: 16px;
  --rs-padding-3: 20px;

  /* Sizes */
  --rs-size-button-border-width: 2px;
  --rs-size-button-shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  --rs-size-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --rs-size-league-select-height: 32px;
  --rs-size-max-width: 1000px;
  --rs-size-border-radius: 0px;
}
