:root {
  /* Colors */
  --fb-color-black-1: #000;
  --fb-color-black-2: #111;
  --fb-color-white: #eee;
  --fb-color-white-2: #ddd;
  --fb-color-green-1: #2e7d32;
  --fb-color-green-2: #2c7051;
  --fb-color-green-1-light: #f9fff9;
  --fb-color-green-1-bg-light: #2e7d3212;
  --fb-color-text-1: #353841;
  --fb-color-text-2: #b4b4b4;
  --fb-color-win: rgba(0, 255, 0, 0.15);
  --fb-color-lose: rgba(255, 0, 0, 0.1);
  --fb-color-bg-black: #222;

  /* Font-sizes */
  --fb-font-size-title: 28px;
  --fb-font-size-subtitle-1: 24px;
  --fb-font-size-subtitle-2: 20px;
  --fb-font-size-body-1: 15px;
  --fb-font-size-body-2: 13px;
  --fb-font-size-small: 11px;

  --fb-padding-1: 10px;
  --fb-padding-2: 16px;
  --fb-padding-3: 20px;

  /* Sizes */
  --fb-size-button-border-width: 2px;
  --fb-size-button-shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  --fb-size-league-select-height: 32px;
  --fb-size-max-width: 1000px;
  --fb-size-border-radius: 0px;
}
