@use 'root.scss';
@use 'material.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--fb-background-color);
}

main > *,
header .wrapper {
  max-width: var(--fb-size-max-width);
  margin: auto;
}

h3.match-section-title {
  // TODO refactor border-b-[1px] pb-2 mb-2 to a utility class
  @apply py-3 mx-5 border-b-[1px] text-center text-fb-color-text-3 tracking-widest;
}

p.no-data {
  @apply text-fb-font-size-body-1 text-fb-color-text-3 text-center py-10;
}

.animate-fade-in {
  animation-duration: 0.2s;
  animation-name: animate-fade-in;
  animation-fill-mode: backwards;
}

@keyframes animate-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-drop-from-top {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-name: animate-drop-from-top;
  animation-fill-mode: backwards;
}

@keyframes animate-drop-from-top {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
